body {
	background-color: #D5B7FA
}

h1 {
	color: #1380EC;
text-align: center;
  text-shadow: 3px 2px #EC1366;
}

a {
	color: blue;
}

p {
	font-style: "arial;"
}

h2 {
	color: #F39515;
}

h3 {
	color: #F31529
}

p {
	border: 2px solid purple;
	border-radius: 5px;
}

body {
	margin: 25px 50px 75px;
}

div {
	margin: 40px 80px 100px;
}